@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: white;
    --secondaryTextColor: #e8e8e8;
    
    --borderColor: white;
    --lineColor: white;

    --primaryBackgroundColor: black;
    --secondaryBackgdroundColor: #060606;
    --thirdBackgroundColor: #090909;

    --primaryIconColor: #ff00f2;
    --secondaryIconColor: #c99ff6;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primaryBackgroundColor);
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}

/* Titles */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 700;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */

/* Header*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding-top: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo a {
    color: var(--primaryIconColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryIconColor);
    font-size: 20px;
}
nav ul li a:hover {
    color: var(--secondaryIconColor);
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--primaryTextColor);
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none; 
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}