@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

:root {
    --primaryTextColor: white;
    --secondaryTextColor: #e8e8e8;
    
    --borderColor: white;
    --lineColor: white;

    --primaryBackgroundColor: black;
    --secondaryBackgdroundColor: #060606;
    --thirdBackgroundColor: #090909;

    --primaryIconColor: #ff00f2;
    --secondaryIconColor: #c99ff6;

    --sectionPadding: 6rem 0;

    --itemBorderRadius: 0.7rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--primaryBackgroundColor);
}

h1,h2,h3,h4,h5,h6, strong {
    color: var(--primaryTextColor);
}

p {
    font-size: 1rem;
    line-height: 1.9rem;
}

p, span, label, input, textarea, li {
    color: var(--secondaryTextColor);
}

a {
    text-decoration: none;
}

.main-container {
    width: 1200px;
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .main-container{
        width: 90%;
    }
}

/* Titles */

.section-title {
    margin: 1rem 0 4rem;
    font-size: 2rem;
}

.pre-title {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: var(--secondaryTextColor);
    position: relative;
    padding-left: 40px;
    width: fit-content;
    font-weight: 700;
    font-size: 0.9rem;
}

.pre-title::before {
    content: "";
    width: 30px;
    height: 1px;
    background: var(--lineColor);
    position: absolute;
    display: block;
    left: 0;
    top: 50%;
}

/* Layout */
.grid-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 3rem;
}

/* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */ /* Homepage */

/* Header*/

.nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav ul {
    list-style: none;
    display: flex;
    gap: 3rem;
    padding-top: 0.5rem;
}

.logo {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
}

.logo a {
    color: var(--primaryIconColor);
}

nav ul li {
    display: flex;
    align-items: center;
}

nav ul li a {
    color: var(--primaryIconColor);
    font-size: 20px;
}
nav ul li a:hover {
    color: var(--secondaryIconColor);
}

/* Burger */
.burger div {
    width: 25px;
    height: 2px;
    background-color: var(--primaryTextColor);
    margin: 7px;
    transition: all 0.3s;
    z-index: 99;
}

.burger {
    display: none; 
    z-index: 99;
    position: fixed;
    top: 33px;
    right: 35px;
}
/*  Banner section */

#banner {
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.banner-name {
    font-size: 3rem;
    font-weight: 700;
    margin: .5rem 0 1rem;
    color: var(--primaryIconColor);
}

.banner-left p {
    padding-right: 2rem;
}

.banner-right img {
    width: 80%;
}

.banner-right {
    display: flex;
    justify-content: center;
}

/* Service Section */
#services {
    background-color: var(--secondaryBackgdroundColor);
    padding: var(--sectionPadding);   
}

.service {
    padding: 3rem 2rem;
    text-align: center;
    background-color: var(--thirdBackgroundColor);
    border-radius: var(--itemBorderRadius);
}

.service h4 {
    margin: 1.5rem 0;
    font-weight: 500;
    font-size: 1.5rem;
}

.service-icon {
    fill: var(--primaryIconColor);
    background-color: var(--secondaryBackgdroundColor);
    width: fit-content;
    margin: 0 auto;
    padding: 1rem 1.3rem;
    border-radius: 0.5rem;
}

/* Portfolio Section */
#portfolios {
    padding: var(--sectionPadding);
}

.portfolio {
    border-radius: var(--itemBorderRadius);
    overflow: hidden;
    border: 2px solid var(--primaryIconColor)
}

.portfolio-cover {
    height: 250px;
}

.portfolio-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-info {
    padding: 2rem 1.5rem;
}

.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.portfolio h4 {
    font-weight: 700;
    font-size:1.5rem;
}

.portfolio-tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    color: var(--primaryTextColor);
    border-color: #e8e8e8;
}

.portfolio-tags div {
    font-size: .7rem;
    background-color: var(--primaryIconColor);
    padding: 6px;
    border-radius: var(--itemBorderRadius);
    margin: 0;
}

/* Contact */

#contact {
    padding: var(--sectionPadding);
}

.contact-left {
    list-style-type: none;
    display:flex;
}

#facebook {
    width: 120px;
}
#instagram {
    width: 120px;
}
#linkedin {
    width: 120px;
}
#youtube{
    width:120px;
}

.contact-form {
    border: 5px solid rgba(2, 1, 1, 0);
    font-size: 15px;
}
input {
    border-radius: 10px;
    padding:15px;
    width: 18vw;
}
textarea {
    border-radius: 10px;
    width: 18vw;
}

.btn-submit {
    border-radius: 10px;
    background-color: #7e25ed;
    color: #ffffff;
    cursor: pointer;
    margin-top: 20px;
    padding: 5px;
    font-size: 15px;
    height: 6vh;
}
.btn-submit:hover {
    background-color: #ff00f2;
}

.contact-container {
    display: flex;
    justify-content: space-around;
}
.contact-item ul {
    display:flex;
    justify-content: center;
    list-style: none;
}

/*Footer*/
footer {
    padding: 2rem 0;
    background-color: var(--thirdBackgroundColor);
}

.footer-container {
    text-align: center;
}